<html>
<head>
    <style>

        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        /* I like this color #cce6ff */

        body {
            background-color: floralwhite;
            color: saddlebrown;
            font-size: 20px;
            /*overflow-x: hidden;*/
            /*overflow-y: hidden;*/
        }

        #container {
            /*   border: 1px solid white; */
            width: 100%;
            height: 100%;
            /*overflow: hidden;*/
        }

        #container > div {
            display: flex;
            justify-content: center;
            align-content: center;
            white-space: nowrap;
            border-left: 5px solid brown;
            border-right: 5px solid brown;


            /*overflow: hidden;*/
        }
        #container > div:first-child {
            border-top: 3px solid brown;

        }
        #container> div:last-child {
            border-bottom: 3px solid brown;
        }

        #container > div:nth-child(odd) {
            background-color: floralwhite;
        }

        #container > div:nth-child(even) {
          background-color: floralwhite;
}

    </style>
</head>
<body>
<div id="container"></div>

<script>

    function splitText(text, width) {
        text = text.replace(/\n/g, ' ');
        // console.log(text);

        let words = text.split(/[ \t]+/); // split on whitespace
        let lines = [];  // This is an empty array for lines
        let current_line = '';
        while (words.length > 0) {
            current_line = '';
            while (true) {
                if (words.length > 0 && current_line.length + words[0].length <= width) {
                    current_line += words.shift() + ' ';
                } else {
                    break;
                }
            }
            lines.push(current_line);
        }
        return lines;
    }


    // Segments are chunks of text in multiple divs that are curved (or not) according to mathematical equations.
    class Segment {
        constructor(xt, yt) {
            this.min_t = 0; // to be set by TextPath.calculateTRanges
            this.max_t = 1;
            this.xt = xt;
            this.yt = yt;
        }
        // We use this later when styling/twisitng our divs. getX and getY are made essentially the same way.
        getX(t) {
            t = (t - this.min_t) / (this.max_t - this.min_t);
            return this.xt(t);
        }

        getY(t) {
            t = (t - this.min_t) / (this.max_t - this.min_t);
            return this.yt(t);
        }
        getDistance() {
            // take 1000 steps from t=0 to t=1, sum up distances
            let n_samples = 1000;
            let distance = 0;
            let length = 0;
            for(let i=0; i < n_samples; ++i) {
                // find the point at t0
                let t0 = i/n_samples;
                // find the point at t1
                let t1 = (i+1)/n_samples;
                let delta_x = (this.xt(t1) - this.xt(t0));
                let delta_y = (this.yt(t1) - this.yt(t0));
                // calculate the distance
                distance += Math.sqrt(Math.pow(delta_x, 2) + Math.pow(delta_y, 2));
                // add that distance to a running sum
                length += distance;

            }
            return distance;


        }
    }


    class GlobalCoordinates {
        // Need to define scale
        constructor(center_x, center_y, scale) {
            this.center_x = center_x;
            this.center_y = center_y;
            this.scale = scale;
        }

        transformX(x) {
            return this.center_x + this.scale * x;
        }

        transformY(y) {
            return this.center_y + this.scale * y;
        }

        invertX(x) {
            return x / this.scale - this.center_x;
        }

        invertY(y) {
            return y / this.scale - this.center_y;
        }
        transform(p) {
            return new Point(this.center_x + this.scale * p.x,
                            this.center_y + this.scale * p.y);
        }
        invert(p) {
            return new Point(p.x / this.scale - this.center_x,
                                p.y / this.scale - this.center_y);
        }
    }


   // Making a class for point
    class Point {
        constructor(x=0, y=0) {
            this.x = x;
            this.y = y;
         }
        toString() {
            return '(' + this.x + ', ' + this.y + ')';
        }
    }
    //May not need segment points.
    class segmentPoint extends Point {
        constructor(x, y, segment_t) {
            super(x, y);
            this.segment_t = segment_t;
        }
    }

   // Text path is the twisting-turning text segment constructor.  Currently we have three segments hard coded in. This will need to change.
    class TextPath {
        constructor(text, container) {
            // The three hard coded segments. Segment length is currently arbitrary, but linked. End of one is the beginning of the next:

            // Segment is starting at t of 0 and going until 0.2
            let segment1 = new Segment(function (t) {
                return 0.0;
            }, function (t) {
                return 100 * t;
            });

            // Segment is starting at t of 0.2 and going until 0.8
            let segment2 = new Segment(function (t) {
                return 100 - 100 * Math.cos(t * Math.PI / 2);
            }, function (t) {
                return 100 * Math.sin(t * Math.PI / 2);
            });

            // Segment is starting at t of 0.8 and going until 1.0
            let segment3 = new Segment(function (t) {
                return 100 * t;
            }, function (t) {
                return 0.0;
            });

            let segment4 = new Segment(function (t) {
                return 0.0;
            }, function (t) {
                return 100 * t;
            });

            let segment5 = new Segment(function (t) {
                return 100 - 100 * Math.sin(t * Math.PI / 2);
            }, function (t) {
                return 100 * Math.sin(t * Math.PI / 2);
            });

            // Hard coding an array of segments. Once again, this will need to change.
            this.segments = [segment1, segment2, segment3, segment4, segment5];

            this.calculateTRanges();

            console.log(this.segments);



            // simplifying segments for reference.
            let segments = this.segments;

            // Calling split text function to get our lines.
            let lines = splitText(text, width);

            // Creating a new global coordinate called gc.
            let gc = new GlobalCoordinates(400, 400, 30);

            // Making the global coordinate (gc) accessible
            this.gc = gc;

            // Starting segment index at 0 and incrementing through the array.
            let segment_index = 0;

            // Itterating through all the lines.
            for (let i = 0; i < lines.length; ++i) {
                // get our t sub-division based on the number of lines.
                let t = i / (lines.length - 1);

                // max t is the highest our t can go.
                if (t >= segments[segment_index].max_t) {

                    // Everything is based on segments here. Unsure if this needs to change. Possible.
                    if (segment_index < segments.length - 1) {
                        let end_x = segments[segment_index].xt(1.0);
                        let end_y = segments[segment_index].yt(1.0);


                        // TODO FIX, USE A POINT NOT GC TO MOVE ALONG
                        // SEE 277, 278
                        gc.center_x = gc.transformX(end_x);
                        gc.center_y = gc.transformY(end_y);
                        segment_index += 1;
                    }
                    // let x = starting_point.x + this.segments[i].getX(t);
                    // let y = starting_point.y + this.segments[i].getY(t);
                }

                // creating divs for our lines to live
                let div = document.createElement('div');
                div.style.position = 'absolute';

                // This section is where we are adjusting the curve of our divs along a parametric equation.
                // todo: take p(t-dt) and p(t+dt) rather than p(t) and p(t+dt)
                // dt is a magic number. Delta t?
                let dt = 0.01;
                // 'point x equals' gc = global coordinates. getX and getY are from class Segment
                let px = gc.transformX(segments[segment_index].getX(t));
                // 'point y equals'
                let py = gc.transformY(segments[segment_index].getY(t));
                // second point of x
                let px2 = gc.transformX(segments[segment_index].getX(t + dt));
                // second point of y
                let py2 = gc.transformY(segments[segment_index].getY(t + dt));
                // Find the angle
                let angle = Math.atan2(py2 - py, px2 - px) - Math.PI / 2;

                // Positioning the divs. gc = global coordinates. getX and getY are from class Segment.
                // Hard coded segments in equation will need to change, may be reflected here.
                div.style.left = gc.transformX(segments[segment_index].getX(t)) + 'px';
                div.style.top = gc.transformY(segments[segment_index].getY(t)) + 'px';
                // Rotating div according to the current angle we want
                div.style.transform = 'rotate(' + angle + 'rad)';
                // Fill div with enough words for one line.
                div.innerText = lines[i];
                // Might be pointless to have line_height
                div.style.height = line_height + 'px';
                // It is important that width be constant. When width is adustable by pixels this may not be needed.
                div.style.width = '300px';   // DON'T LOSE THIS
                // Add new div to our outter div "container"
                container.appendChild(div);



            }
            this.gc = new GlobalCoordinates(400, 400, 30);  ///////// hashed together recall of this.gc

        }

        // Right now I think all of these are based on an x/y coordinate in the center of the text
        // which is why it is starting out skewed I think.
        getPoint(t) {
            // these are some magic numbers.
            let starting_point = new Point(0, 0);
            for (let i = 0; i < this.segments.length; ++i) {
                if (t >= this.segments[i].min_t && t <= this.segments[i].max_t) {
                    // getX and getY is from our segments

                    let x = starting_point.x + this.segments[i].getX(t);
                    let y = starting_point.y + this.segments[i].getY(t);
                    return this.gc.transform(new Point(x, y));
                }
                starting_point.x += this.segments[i].xt(1.0);
                starting_point.y += this.segments[i].yt(1.0);
                //console.log(starting_point);
            }
            return this.gc.transform(starting_point);
        }

        calculateTRanges() {
            // loop over segments, find their distances
            let sum = 0;
            let segment_distances = [];
            for (let i=0; i<this.segments.length; ++i) {
                let segment = this.segments[i];

                // calculate length
                let distance = this.segments[i].getDistance();
                // put length in array
                segment_distances.push(distance);
                // add length to running sum
                sum += distance;
            }
            // loop over segments again
            let running_t = 0;
            for (let i=0; i<this.segments.length; ++i) {
                 // divide the segment length by the total length (sum)
                let t_length = segment_distances[i]/sum;
                // set the segment's t range
                this.segments[i].min_t = running_t;
                this.segments[i].max_t = running_t + t_length;
                running_t += t_length;
            }
        }
    }

    // Sample text
    let text = 'Lorem ipsum dolor amet intelligentsia activated charcoal YOLO, PBR&B sartorial ugh yr. Blue bottle distillery celiac, ' +
        'knausgaard sriracha DIY bicycle rights tilde kombucha tousled pitchfork copper mug flexitarian vaporware street art.' +
        ' Photo booth tote bag bespoke you probably havent heard of them, 8-bit cardigan iPhone taxidermy salvia biodiesel pinterest.' +
        ' Microdosing humblebrag swag schlitz yuccie fingerstache raw denim vinyl. Fashion axe wolf fingerstache literally. ' +
        'Viral post-ironic four loko pork belly raw denim. Single-origin coffee green juice cred hella disrupt pinterest offal. Scenester squid ' +
        'viral brunch forage aesthetic narwhal cardigan. Jianbing hammock craft beer, vegan PBR&B scenester hashtag ' +
        'before they sold out microdosing actually marfa VHS wolf skateboard. XOXO selfies franzen green juice, hell of hashtag ' +
        'normcore. Disrupt austin lumbersexual iceland, meggings microdosing actually jianbing vaporware. Heirloom distillery ' +
        'try-hard yuccie intelligentsia echo park man braid aesthetic messenger bag tacos next level everyday carry bitters direct trade hoodie.' +
        ' Glossier tacos locavore narwhal tofu wayfarers.Normcore flexitarian aesthetic viral, skateboard hashtag drinking vinegar fanny pack XOXO ' +
        'seitan whatever artisan tumeric chambray forage. Artisan vice austin food truck cardigan ugh. Cloud bread before they sold out fashion axe ' +
        'mustache enamel pin poutine polaroid raw denim woke sartorial live-edge listicle lo-fi. Palo santo brunch brooklyn deep v taxidermy tattooed' +
        ' lo-fi activated charcoal selfies thundercats chambray semiotics. Skateboard iPhone bicycle rights mumblecore leggings tumeric. Art party bicycle ' +
        'rights cornhole mixtape before they sold out keffiyeh jean shorts brunch. Kinfolk prism raclette kale chips master cleanse craft beer brooklyn.Enamel ' +
        'pin williamsburg mlkshk godard blog fingerstache selfies brunch. Mixtape vinyl brunch, franzen quinoa ethical narwhal. Franzen kombucha forage waistcoat tousled,' +
        ' retro unicorn YOLO stumptown helvetica. Street art swag kickstarter thundercats art party ethical helvetica austin offal godard freegan. Waistcoat selfies meditation DIY.' +
        'Tousled biodiesel occupy blog hella street art letterpress copper mug meh pok pok authentic pitchfork. Skateboard fashion axe keffiyeh truffaut sartorial, shoreditch hexagon ' +
        'fixie. 3 wolf moon whatever gastropub taxidermy knausgaard marfa tousled pabst pickled humblebrag twee man bun. Ugh plaid snackwave, keffiyeh sustainable cornhole butcher ' +
        'pop-up tattooed jean shorts dreamcatcher pabst glossier 90s bespoke. Venmo roof party authentic live-edge, tofu lo-fi whatever forage sustainable shoreditch vinyl shabby chic' +
        ' seitan YOLO. Kitsch hoodie try-hard yuccie scenester. Wayfarers chambray tumeric pop-up venmo asymmetrical taxidermy.Chambray cred XOXO try-hard listicle disrupt you probably' +
        ' havent heard of them la croix pour-over iceland raw denim. Gochujang echo park meggings, street art authentic +1 pabst iPhone farm-to-table flannel tousled. Pug marfa fingerstache ' +
        'chambray bespoke raclette humblebrag truffaut wolf squid. Fingerstache meggings art party, +1 taiyaki marfa salvia affogato gluten-free. ' +
        'Salvia neutra shaman DIY trust fund, leggings biodiesel taxidermy artisan heirloom. Sriracha subway tile banh mi tousled man braid edison bulb ' +
        'raclette neutra beard. Snackwave yuccie wolf kickstarter, lyft four loko four dollar toast keffiyeh truffaut post-ironic. Wayfarers artisan ' +
        'plaid echo park squid swag master cleanse. Raclette meh health goth, four loko art party pickled 90\'s meditation celiac slow-carb tilde' +
        ' cloud bread you probably haven\'t heard of them. Yr authentic actually pour-over taxidermy leggings helvetica normcore raclette everyday carry ' +
        'tilde.Copper mug pinterest iPhone, cred farm-to-table activated charcoal taiyaki deep v mixtape food truck hoodie. Pinterest tousled activated' +
        ' charcoal organic, fixie hoodie godard af. Humblebrag succulents austin, taxidermy truffaut raclette YOLO godard trust fund retro artisan organic forage. ' +
        'Vaporware bespoke pug actually pop-up beard DIY austin PBR&B keytar hexagon portland. Skateboard woke fanny pack blog you probably haven\'t heard of them, ' +
        'bicycle rights stumptown. Hammock mumblecore tacos umami, bitters pitchfork fanny pack kogi coloring book humblebrag polaroid live-edge pop-up bicycle rights.disrupt ' +
        'actually, umami live-edge four dollar toast man braid hell of chambray wolf affogato jean shorts mustache VHS unicorn. Poutine next level salvia listicle paleo asymmetrical' +
        ' live-edge. Vaporware tote bag chicharrones brunch pinterest af 8-bit shabby chic truffaut coloring book live-edge letterpress lomo kale chips polaroid. Biodiesel pop-up selvage i' +
        'ntelligentsia lyft fam unicorn vice small batch tumblr lumbersexual synth thundercats austin polaroid. Poke godard mixtape cloud bread poutine raw denim cliche hashtag wayfarers' +
        ' dreamcatcher.Oh. You need a little dummy text for your mockup? How quaint.I bet you’re still using Bootstrap too…'

    // In this iteration we are judging width on characters instead of pixels. Will go back to pixels later.
    let width = 30; // our width we use when making lines, etc.
    let line_height = 30;
    let container = document.querySelector('#container'); // This is the div we automatically populate that you can see in the html. We create more than one of these.


    text_path = new TextPath(text, container);


    // function findSegment(t) {
    //   for (let i=0; i<segments.length; ++i) {
    //     if (t >= segments[i].min_t && t <= segments[i].max_t) {
    //       return segments[i];
    //     }
    //   }
    //   return null;
    // }


    ///////////////////////////////////
    ////// Work on Scrolling /////////
    /////////////////////////////////


    // function MouseWheelHandler(e) {
    //
    //     // cross-browser wheel delta
    //     let e = window.event || e; // old IE support
    //     let delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
    //
    //     ////////////
    //     let current_t = 0;
    //
    //
    //
    //     let container_px = gc.invertX(segments[segment_index].getX(t - dt));
    //     let container_py = gc.invertY(segments[segment_index].getY(t - dt));
    //     let container_px2 = gc.invertX(segments[segment_index].getX(t + dt));
    //     let container_py2 = gc.invertY(segments[segment_index].getY(t + dt));
    //     let container_angle = Math.atan2(py2 - py, px2 - px) - Math.PI / 2;
    //
    // }

    let current_t = 0.0;
    window.onwheel = function (evt) {
        current_t += 0.0001*evt.deltaY;
        if (current_t < 0) {
            current_t = 0;
        } else if (current_t > 1.0) {
            current_t = 1.0;
        }
        let current_pt = text_path.getPoint(current_t);
        console.log(current_pt);
        //current_pt = text_path.gc.invert(current_pt);
        container.style.transform = 'translate(' + (text_path.gc.center_x-current_pt.x) + 'px,' + (text_path.gc.center_y-current_pt.y) + 'px)';
        //container.style.transform = 'translate(' + current_pt.x + 'px,' + current_pt.y + 'px)';

        evt.preventDefault();
        return false;
    }

    function changeOrientation(event) {
    alert("Rotate");
    event.preventDefault();
}


    // Global Coordinate constructor for reference:

    // class GlobalCoordinates {
    //   constructor(center_x, center_y, scale) {
    //     this.center_x = center_x;
    //     this.center_y = center_y;
    //     this.scale = scale;
    //   }
    //   transformX(x) {
    //     return this.center_x + this.scale*x;
    //   }
    //   transformY(y) {
    //     return this.center_y + this.scale*y;
    //   }
    //   invertX(x) {
    //     return x/this.scale - this.center_x;
    //   }
    //   invertY(y) {
    //     return y/this.scale - this.center_y;
    //   }
    // }


    // use gc and segments to get an x,y for current_t
    // translate the container to -x,-y
    //current_t += 0.1;
</script>
</body>
</html>